@charset "UTF-8";

@font-face {
  font-family: toyz;
  font-display: swap;
  src: url("../fonts/toyz.woff2") format("woff2"), url("../fonts/toyz.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "toyz";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "toyz";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=submit],
input[type=button],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0 !important;
}

input[type=text]:focus-visible,
input[type=email]:focus-visible,
input[type=tel]:focus-visible,
input[type=submit]:focus-visible,
input[type=button]:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__title {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
}

.tabs__title._tab-active {
  border: 1px solid #000;
}

.tabs__content {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  padding-top: 40px;
}

.seasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-left: 35px;
  margin-bottom: 30px;
  z-index: 10;
}

.pulse,
.bloc,
.phone {
  position: absolute;
  width: 90px;
  height: 90px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.bloc {
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.pulse {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pulse.winter {
  background: #1f89b9;
}

.pulse.spring {
  background: rgb(5, 150, 82);
}

.pulse.summer {
  background: rgb(206, 195, 37);
}

.pulse.autumn {
  background: rgb(206, 37, 93);
}

.phone {
  font-size: 50px;
  line-height: 20px;
  -webkit-animation: phone 0.9s ease-in-out infinite;
          animation: phone 0.9s ease-in-out infinite;
}

.text {
  text-align: center;
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  height: 100%;
  top: 40%;
  font-size: 15px;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.phone .fa-canadian-maple-leaf,
.phone .fa-snowflake,
.phone .fa-sun,
.phone .fa-cloud-sun-rain {
  padding-top: 17px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  text-align: center;
}

.pulse:hover .fa-canadian-maple-leaf,
.pulse:hover .fa-snowflake,
.pulse:hover .fa-sun,
.pulse:hover .fa-cloud-sun-rain {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.pulse:hover .text {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.pulse:hover::before,
.pulse:hover::after {
  content: "";
  position: absolute;
  border: 1px solid;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  -webkit-animation: pulse 1.8s linear infinite;
          animation: pulse 1.8s linear infinite;
  opacity: 0;
}

.pulse:hover::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes phone {
  0%, 100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(21deg);
            transform: rotate(21deg);
  }
}

@keyframes phone {
  0%, 100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(21deg);
            transform: rotate(21deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

.tasks__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(80px, 200px))[4];
  grid-template-columns: repeat(4, minmax(80px, 200px));
  -ms-grid-rows: (minmax(230px, auto))[3];
  grid-template-rows: repeat(3, minmax(230px, auto));
}

.taskItem {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 15px;
  height: 100%;
  padding: 10px;
}

.taskItem__value {
  font-size: 25px;
  padding-top: 30px;
}

.taskItem.winter {
  background-color: #1f89b9;
}

.taskItem.spring {
  background-color: rgb(5, 150, 82);
}

.taskItem.summer {
  background-color: rgb(206, 195, 37);
}

.taskItem.autumn {
  background-color: rgb(206, 37, 93);
}

.taskItem img {
  height: 20px;
  width: 100%;
}

.tasks {
  padding-top: 100px;
}

.tasks__block {
  -webkit-box-shadow: 0px 10px 20px 30px rgb(255, 255, 255);
          box-shadow: 0px 10px 20px 30px rgb(255, 255, 255);
}

.tasks-winter__block {
  background: url("../img/winter.jpg");
}

.tasks-spring__block {
  background: url("../img/spring4.jpg");
}

.tasks-summer__block {
  background: url("../img/summer2.jpg");
}

.tasks-autumn__block {
  background: url("../img/autumn.jpg");
}

.full {
  position: relative;
  -webkit-box-shadow: inset 0px 0px 20px 30px rgb(255, 255, 255);
          box-shadow: inset 0px 0px 20px 30px rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: rgb(140, 186, 64);
}

.page {
  position: relative;
}

@supports (padding-bottom: clamp( 8.125rem , 6.9886363636rem  +  5.6818181818vw , 11.25rem )) {
  .page {
    padding-bottom: clamp( 8.125rem , 6.9886363636rem  +  5.6818181818vw , 11.25rem );
  }
}

@supports not (padding-bottom: clamp( 8.125rem , 6.9886363636rem  +  5.6818181818vw , 11.25rem )) {
  .page {
    padding-bottom: calc(8.125rem + 3.125 * (100vw - 20rem) / 55);
  }
}

.fullscreen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 131, 125, 0.9)), to(rgba(7, 7, 7, 0.014))), url("../img/layer.jpg");
  background: linear-gradient(rgba(20, 131, 125, 0.9), rgba(7, 7, 7, 0.014)), url("../img/layer.jpg");
  -webkit-box-shadow: 0 15px 30px 10px rgb(135, 173, 72);
          box-shadow: 0 15px 30px 10px rgb(135, 173, 72);
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: 0.8;
}

.fullscreen section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.fullscreen__title {
  text-align: center;
  stroke: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: yellow;
  opacity: 1;
  z-index: 15;
  font-weight: 300;
  line-height: 105%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

@supports (font-size: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem )) {
  .fullscreen__title {
    font-size: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.0795454545rem  +  10.2272727273vw , 8.75rem )) {
  .fullscreen__title {
    font-size: calc(3.125rem + 5.625 * (100vw - 20rem) / 55);
  }
}

.fullscreen__title img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 700px;
  height: 150px;
}

.fullscreen__subtitle {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: toyz;
  padding-top: 20px;
  color: yellow;
  opacity: 1;
  z-index: 15;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  line-height: 135%;
}

@supports (font-size: clamp( 1.0625rem , 0.8806818182rem  +  0.9090909091vw , 1.5625rem )) {
  .fullscreen__subtitle {
    font-size: clamp( 1.0625rem , 0.8806818182rem  +  0.9090909091vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.0625rem , 0.8806818182rem  +  0.9090909091vw , 1.5625rem )) {
  .fullscreen__subtitle {
    font-size: calc(1.0625rem + 0.5 * (100vw - 20rem) / 55);
  }
}

.fullscreen__subtitle.animated {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fullscreen__goto {
  position: absolute;
  text-align: center;
  height: 40px;
  width: 20px;
  display: block;
  z-index: 15;
  color: white;
  bottom: 10px;
}

.instructionLink {
  position: relative;
  text-decoration: underline;
  padding-bottom: 8px;
  color: rgb(255, 0, 106);
}

.instructionLink::after {
  border-radius: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(255, 0, 106);
}

section {
  color: white;
}

@media (max-width: 767.98px) {
  .seasons {
    margin-left: 15px;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    margin-left: 0;
  }

  .pulse,
  .bloc,
  .phone {
    width: 70px;
    height: 70px;
  }

  .phone {
    font-size: 40px;
  }

  .text {
    font-size: 13px;
    top: 44%;
  }

  .phone .fa-canadian-maple-leaf,
  .phone .fa-snowflake,
  .phone .fa-sun,
  .phone .fa-cloud-sun-rain {
    padding-top: 14px;
  }

  .tasks__items {
    -ms-grid-rows: (minmax(180px, auto))[3];
    grid-template-rows: repeat(3, minmax(180px, auto));
    gap: 20px;
    padding: 20px;
  }

  .full {
    -webkit-box-shadow: inset 0px 0px 10px 10px rgb(255, 255, 255);
            box-shadow: inset 0px 0px 10px 10px rgb(255, 255, 255);
  }

  .fullscreen section {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 80px;
  }

  .fullscreen__title img {
    width: 400px;
    height: 100px;
  }
}

@media (max-width: 479.98px) {
  .tasks__items {
    -ms-grid-columns: (minmax(50px, auto))[4];
    grid-template-columns: repeat(4, minmax(50px, auto));
    -ms-grid-rows: (minmax(130px, auto))[3];
    grid-template-rows: repeat(3, minmax(130px, auto));
    gap: 10px;
  }

  .fullscreen__title img {
    width: 300px;
    height: 50px;
  }
}